.profile-header{
    background-color: rgb(34, 46, 53);
    display: flex;
    padding: 8px 16px;
    align-items:flex-end;
    color: white;
    font-weight: 600;
    font-size: 18px;
    height: 110px;
}

.profile-header div{
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.newGroup-profile-detail-main{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    padding: 15px 30px;
}


.newGroup-profileBigAvatar-div{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    cursor: pointer;
    position: relative;
}


.newGroup-profileBigAvatar-div:hover .newGroup-avtar-hover{
    position: absolute;
    background-color: rgba(4, 4, 4, 0.514);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    z-index: 1;
}

.newGroup-group-name{
    width: 100%;
    border: none;
    color: rgb(84,92,97);
    font-size: 17px;
    background-color: rgb(17,27,33);
    outline: none;
    padding: 25px 0 7px 0;
}

.newGroup-underline{
    border: none;
    border-top: 2px solid white;
    padding: 25px 0;
}

.onfocus{
    border: none;
    border-top: 2px solid rgb(0,128,105);
    padding: 25px 0;
}

.newGroup-disappear-msg{
    color: white;
}

.add-group-image{
    z-index: 2;
    position: relative;
    right: 60px;
    font-size:13px;
    text-transform: uppercase;
    
}

.add-group-image p{
    margin-top: 8px;
}


.forwardArrow{
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

/* .profile-detail-label{
    color: rgb(3,109,91);
    font-size: 14px;
    padding: 25px 0;
}

.profile-detail-text{
    color: rgb(185,191,195)
    
}

.profile-detail-description{
    font-size: 14px;
    color: rgb(134,150,160);
    padding-top: 35px;
    padding-bottom: 10px;
} */