.newchat-header {
    background-color: rgb(34, 46, 53);
    display: flex;
    padding: 8px 16px;
    align-items:flex-end;
    color: white;
    font-weight: 600;
    font-size: 18px;
    height: 110px;
}

.newchat-header div{
    display: flex;
    align-items: center;
    column-gap: 15px;
}