.attachment-main-area{
    flex: 0.89;
    background-color: rgb(11,20,26);
    color: white;
    padding: 4px 34px;
    font-size: 14px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    
}

.attachment-header{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: flex-start;
}

.attachment-main{
    display: flex;
    align-items: center;
    justify-content: center;
}